<form name="loginForm">
    <h2>Login</h2>
    <md-input-container class="md-block">
        <label>E-mail</label>
        <input type="email" ng-model="loginData.email" required>
        <div ng-messages="loginForm.email.$error">
            <div ng-message="email">Your email address is invalid.</div>
            <div ng-message="required">E-mail is required.</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block">
        <label>Password</label>
        <input type="password"  ng-model="loginData.password" required>
        <div ng-messages="loginForm.password.$error">
            <div ng-message="required">Password is required.</div>
        </div>
    </md-input-container>
    <section layout="row">
        <md-button type="submit" ng-click="login()" class="md-raised">Login</md-button>
        <md-button md-no-ink ng-href="#/account/register" class="md-primary">Register accunt</md-button>
    </section>
</form>
